.buy-region {
  font-family: "Arial", sans-serif;
  text-align: center;
}

.buy-region-container h2 {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.buy-region-container h2 .orange {
  color: #ff6600;
}

.region-left-decoration,
.region-right-decoration {
  width: 430px;
}

.sub-heading {
  font-size: 20px;
  margin-top: 15px;
  font-weight: 600;
}

.description {
  margin-top: 10px;
  color: #555;
  font-size: 14px;
}

.region-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding: 0 40px;
}

.region-item {
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s ease;
}

.region-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 15px;
}

.region-item:hover {
  transform: translateY(-8px);
}
