.buy-region {
  font-family: "Arial", sans-serif;
  text-align: center;
}

.buy-region-container h2 {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.buy-region-container h2 .orange {
  color: #ff6600;
}

.region-left-decoration,
.region-right-decoration {
  width: 430px;
}

.sub-heading {
  font-size: 20px;
  margin-top: 15px;
  font-weight: 600;
}

.description {
  margin-top: 10px;
  color: #555;
  font-size: 14px;
}

.region-section {
  display: grid;
  grid-template-columns: 2fr 1.2fr;
  gap: 20px;
  padding-left: 90px;
  padding-right: 90px;
  align-items: stretch;
}

.region-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.region-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s ease;
}

.region-item img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  display: block;
  border-radius: 20px;
}

.region-item:hover {
  transform: translateY(-8px);
}

.overlay {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
}

.overlay button {
  background: #ff6600;
  border: none;
  padding: 10px 18px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.overlay button:hover {
  background: #ff8533;
}

.shopping-banner {
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s ease;
}

.shopping-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.shopping-banner:hover {
  transform: translateY(-8px);
}
