body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  overflow-x: hidden;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #a08484;
  color: #333;
  font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .region-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px;
  }

  .region-left-decoration,
  .region-right-decoration {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .region-grid {
    grid-template-columns: 1fr;
    padding: 0 10px;
  }
}

@media (max-width: 400px) {
  .buy-region-container h2 {
    font-size: 18px;
    gap: 10px;
  }

  .sub-heading {
    font-size: 18px;
  }
}
